body {
  margin-left: 5%;
  margin-right: 5%;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Leaflet icons square fix */
.leaflet-div-icon {
  background: transparent;
  border: none;
} 

.leaflet-fix-height {
  height: 30px;
}

.button {
  color: red;
}